# Ignore everything
**

# Allow files and directories
!assets
!code
!dependencies-apt.txt
!dependencies-py3.txt
!launch.sh

# YOUR FILES LISTED BELOW THIS LINE (IMPORTANT: PREPEND !)
# ----------------------------------------------------------------------------
